@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;500;600;800&family=Mada:wght@300;400;500&family=Raleway:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@500;600;700&display=swap');
html {
    height: 100%;
    width: 100%;
         scroll-behavior: smooth;;

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    min-width: 100%;
    margin: 0;
    padding: 0;
    

}

main .info-container {
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(11, 59, 84);
    background-size: cover;
  background-position: center;
  position: relative;

}

#vid {
    position: absolute;
    top: 15%;
    left: 5vw;
    max-width: 100vw;

}

.info {
    max-width: 100vw;

    position: absolute;
    top: 45%;
    right: 5vw;
    background-color: white;
    max-height: 50%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    padding: 60px;
    padding-right: 0;
    font-family: 'Mada';
    color: rgb(4, 48, 70);
}

.info h2 {
    margin: 0;
    padding: 0;
    font-size: 4vw;
    margin-bottom: 20px;
    
}


.info-details {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: start;
    flex-wrap: wrap;
}

.detail {
    margin:10px 20px;
}

.info-details p {
    margin: 0;
    padding: 0;
    color: rgb(71, 132, 163);
    font-size: 1.3vw;
}

.detail > p:first-child {
    font-weight: 600;
}

.tables {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
table {
    font-family: 'Mada';
    padding: 2%;
    width: 90%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 10vh;

}

caption{
    float: left;
    color: rgb(4, 48, 70);
    font-size: 1.8vw;
    font-weight: 600;
    margin-bottom: 5px;
}

tr {
    width: 100%;
    border-bottom: solid 1px rgb(38, 115, 153);
    margin: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

table tr:last-of-type {
    border-bottom: 2px solid rgb(38, 115, 153);
}

th, td {
    padding: 2%;
    font-size: 1.3vw;
    height: 100%;
    margin: 0;
}

th {
    background-color: rgb(19, 80, 110);
    color: white;
    text-align: start;
}

.left-edge {
    border-top-left-radius: 10px;
    border: 0px;

}

.right-edge {
    border-top-right-radius: 10px;
    border: 0px;
}

label {
    width: 30%;
    font-family: 'Mada';
    color: rgb(11, 58, 84);
    font-weight: 600;
    align-self: start;
    justify-self: start;
    padding-left: 5vw;
}

select {
    padding: 10px;
    width: 100%; 
    border: none;
    outline: none;
    border-bottom: solid 2px rgb(11, 59, 84);
    background-color: rgb(238, 244, 248);
    transition-duration: 0.2s;
    font-weight: 600;
    font-family: 'Mada';
    color: rgba(11, 58, 84, 0.627);
    margin-bottom: 15px;
    margin-top: 5px;
    

}

select option {
    border-radius: 0;
    font-weight: 600;
    font-family: 'Mada';
    color: rgb(11, 58, 84);

    padding: 20px;
}

table a {
    color: rgb(74, 119, 142);
    text-decoration: none;
    font-weight: 600;
    font-family: 'Mada';
    padding: 2px;
    transition-duration: 0.2s;
}

table a:hover {
    color: rgb(114, 154, 175);
    transition-duration: 0.2s;
    border-bottom: solid 2px rgb(114, 154, 175);
    
    
}

.apply a, .withdraw a {
    background-color: rgb(40, 82, 103);
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    margin-left: 5px;
    text-align: center;
}

.apply a:hover, .withdraw a:hover {
    border-bottom: none;
    background-color: rgb(114, 154, 175);
    color: white;
}
.apply, .withdraw {
    margin: 0;
    padding: 0;
    text-align: center;

}

.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-search {
    background-color: rgb(40, 82, 103);
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    margin-left: 5px;
    text-align: center;
    outline-offset: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 0;
    width: 10vw;
}

.btn-search:hover {
    background-color: rgb(29, 67, 86);
}