@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;500;600;800&family=Mada:wght@300;400;500&family=Raleway:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@500;600;700&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Raleway';
}

main h2 {
    font-size: 3vw;
    color: rgb(11, 59, 84);
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 65%;
    height: 50%;

}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 80%;
    width: 30%
}

.sign {
    width: 100%;
}

.sign label {
    font-weight: 600;
}

.sign input {
    padding: 10px;
    width: 100%; 
    border: none;
    outline: none;
    border-bottom: solid 2px rgb(11, 59, 84);;
    background-color: rgb(238, 244, 248);
    transition-duration: 0.2s;

}

.sign input:hover {
    background-color: rgb(217, 226, 231);
    transition-duration: 0.2s;

}

.sign input:focus {
    background-color: rgb(217, 226, 231);
    transition-duration: 0.2s;

}

main button {
    padding: 15px;
    background-color: rgb(11, 59, 84);
    color: white;
    border-radius: 50px;
    border: none;
    outline: none;
    width: 20%;
    font-weight: 700;
    margin-right: 15px;
    transition-duration: 0.2s;
    font-size: 1.2vw;
    margin-top: 30px;
}

button:hover {
    background-color: rgb(33, 116, 160);
    transition-duration: 0.2s;
    cursor: pointer;
}
